:root {
    --verde: #008000;
    --azul: #0000FF;
    --vermelho: #FF0000;
    --magenta: #A7727D;
    --bege-escuro: #EDDBC7;
    --bege: #F8EAD8;
    --bege-claro: #F9F5E7;
}

body {
    font-size: 1rem;
    background-color: var(--bege);
    margin: 0 6rem 0 6rem;
}

.titulo {
    font-size: 4rem;
    text-align: center;
    margin: 2rem;
    color: var(--magenta);
}

.subtitulo {
    font-size: 3rem;
    margin: 1rem;
}

.grafico {
    display: flex;
}

.indice {
    margin-right: 1rem;
    text-align: right;
}

.semana {
    width: 3rem;
}

.semana__valor {}

.semana__barra {}

.semana__numero {}