:root {
    --verde: #008000;
    --azul: #0000FF;
    --vermelho: #FF0000;
    --magenta: #A7727D;
    --bege-escuro: #EDDBC7;
    --bege: #F8EAD8;
    --bege-claro: #F9F5E7;

    --circunferencia: 628;
}

body {
    font-size: 1rem;
    background-color: var(--bege);
    margin: 0 6rem 0 6rem;
}

.titulo {
    font-size: 4rem;
    text-align: center;
    margin: 2rem;
    color: var(--magenta);
}

.subtitulo {
    font-size: 3rem;
    margin: 1rem;
}

.donut {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0;
}

.donut__equipe {
    background-color: var(--bege-escuro);
    padding: 3rem 2rem;
}

svg {
    width: 200px;
    height: 200px;
    transform: rotate(-90deg);
}

svg circle {
    stroke-dasharray: var(--circunferencia);
    stroke-dashoffset: var(--circunferencia);
}